# Основной фреймворк интерфейса
PyQt6>=6.6.0

# Внутренние биндинги и модули Qt (устанавливаются автоматически, но фиксируются для стабильности сборки)
PyQt6-Qt6>=6.6.0
PyQt6-sip>=13.6.0

# Инструмент для сборки утилиты в готовый .exe файл для Windows
pyinstaller>=6.5.0